body {
    font-family: 'Russo One', sans-serif;
}

h1 {
    color: #fff;
    text-shadow: 4px 4px black;
    -webkit-text-stroke: 2px black;
    font-family: 'Noto Nastaliq Urdu', serif;
    font-family: 'Russo One', sans-serif;
    font-size: 3.3rem;
}

.web {
    border: 2px solid #000;
}

.web a {
    font-size: 2rem;
}

.first {
    background-color: #6961FF;
}
.first a{color: #FDFA44;}
.second {
    background-color: #FBDA69;
}
.second a{color: #492AF9;}

.third {
    background-color: #e9560d;
}
.third a{color: #61C2D0;}
.fourth{background-color: #009AD8;}

.fourth a{color: #fff;}

.mail{
    letter-spacing: 3px;
    background-color: #FDFA44;
    color: #492AF9;
    padding: 3px;
}

.mail:hover{
    color: #FDFA44;
    background-color: #492AF9;
}